<h2 class="text-center">Ember To Do List</h2>
<br>
<div class="container">
  <form>
    <div class="form-group">

      <!-- new task properties deadline & description -->
      Due: {{input value=deadline}}
      Task description: {{input value=description}}

      <!-- onclick call save function of application route with new task params-->
      <button {{action (route-action 'save' description deadline)}}class="btn btn-default" type="submit">
        Add
      </button>
    </div>
  </form>
</div>
<br>
<div class="container">

  <!-- call function from application controller -->
  <button class="btn btn-primary" {{action 'showAll'}}>All</button>
  <button class="btn btn-primary" {{action 'showCompleted'}}>Complete</button>
  <button class="btn btn-primary" {{action 'showIncomplete'}}>Incomplete</button>
</div>
<br>
<div class="container">
  <div class="list-group">

    <!-- display tasks -->
    {{#each completed as |task|}}
      <div class="row">
        <div class="list-group-item col-md-8">

          <!-- update complete -->
          {{one-way-checkbox checked=task.isDone update=(action (route-action 'toggleTask' task))}}
          {{task.id}}:
          {{task.description}}
          <span class="deadline pull-right"><strong>Due:</strong> {{task.deadline}}</span>
        </div>
        <div class="col-md-4">

          <!-- delete or edit  -->
          <button class="btn btn-default edit" {{action 'editTask' task model}}><span class="glyphicon glyphicon-pencil"></span> Edit</button>
          <button class="btn btn-danger remove" {{action (route-action 'delete' task)}}><span class="glyphicon glyphicon-minus"></span> Remove</button>
        </div>
      </div>
    {{/each}}
  </div>
</div>
<div class="col-md-6">
  {{outlet}}
</div>
