
<h3>Edit Task {{task.id}}</h3>
<br>
  <form>
  <div class="form-group">
    <!-- new deadline -->
      Due: {{input value=deadline placeholder=task.deadline}} <br>

      <!-- new description -->
      Task description: {{input value=description placeholder=task.description}}

      <!-- call saveEdit from edit controller -->
      <button {{action  'saveEdit' task description deadline}}class="btn btn-primary" type="submit">Save
      </button>
    </div>
  </form>
